// @import '~bootstrap/dist/css/bootstrap.min.css';
table, th, td {
    border:1px solid black;
  }
  .table{
      position: absolute;
      top:100px;
  }
  p{
      text-align: center;
  }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
